* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-tap-highlight-color: transparent;
}

body {
  overflow-x: hidden;

}

.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 40px;
  background-color: #181818;
  padding-top: 30px;
}

.navImage img {
  width: 140px;
}

.navLinks {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.link {
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: bold;
}

.link:hover {
  color: #e8592a;
}

.hero1-container {
  position: sticky;
  top: 0;
  z-index: 1000;
  overflow: hidden;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.navButton button {
  border: none;
  background: #e8592a;
  color: white;
  cursor: pointer;
  width: 120px;
  height: 40px;
  font-size: 18px;
  border-radius: 20px;
  font-weight: bold;
  position: relative;
  right: 40px;
}



.navButton button:hover {
  background: #ffffff;
  color: #e8592a;
}

.hamburger {
  display: none;
  font-size: 28px;
  cursor: pointer;
}

.sidebar {
  display: none;
}

.body img {
  width: 100%;
  height: 700px;
  object-fit: cover;
}


.sec img {
  display: none;
}

.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}


.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.hero-content {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  z-index: 2;
  font-weight: bolder;
}

.hero-content h1 {
  margin-bottom: 20px;
  font-size: 45px;
  line-height: 1.6;
}


.hero-content button {

  background-color: transparent;
  border: 3px solid #e8592a;
  border-radius: 70px;
  height: 55px;
  width: 160px;
  font-size: 15px;
  font-weight: bolder;
  color: #2d2d2d;
  margin-top: 10px;
  color: #fff;
}

.hero-content button:hover {
  background-color: white;
  color: #e8592a;
}

.yoga {

  background-color: #f8f8f8;
  width: 330px;
  padding: 20px;
  padding-bottom: 38px;
}


.yoga h2 {
  color: #111111;
  text-align: center;
  padding-top: 20px;
}

.yoga h2:hover {
  color: #e8592a;
}

.yoga p {
  line-height: 1.7;
  padding-top: 20px;
  width: 90%;
  margin: auto;
  color: #666666;

}

.praying {
  padding-top: 30px;
  font-size: 35px;
  color: #e8592a;
  text-align: center;

}


.weight {
  background-color: #ededed;
  width: 330px;
  padding: 20px;
}

.weight h2 {
  color: #111111;
  text-align: center;
  padding-top: 20px;

}

.weight h2:hover {
  color: #e8592a;
}


.weight p {
  line-height: 1.7;
  padding-top: 20px;
  width: 90%;
  margin: auto;
  color: #666666;


}

.hanging {
  padding-top: 30px;
  font-size: 35px;
  color: #e8592a;
  text-align: center;
}


.running {
  background-color: #f8f8f8;
  width: 330px;
  padding: 20px;
}

.running h2 {
  color: #111111;
  text-align: center;
  padding-top: 20px;

}

.running h2:hover {
  color: #e8592a;
}

.running p {
  line-height: 1.7;
  padding-top: 20px;
  width: 90%;
  padding: 20px;
  margin: auto;
  color: #666666;


}

.person {
  padding-top: 30px;
  font-size: 35px;
  color: #e8592a;
  text-align: center;
}

.allfit {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 100px;



}

.jour {
  margin-left: 100px;
  margin-top: 90px;
  line-height: 1.5;
}

.jour .you {
  color: #222222;
}

.jour .fjs {
  color: #e8592a;
}

.jour p {
  width: 100%;
  color: #666666;
  line-height: 1.9;
  text-align: justify;
}

.here {
  color: #aeaeae;
}

.jyh {
  display: flex;
}

.builder img {
  margin-right: 50px;
}

.featured {
  text-align: center;
  background-color: #f8f8f8;
  height: 630px;
  padding-top: 100px;
}

.featured h2 {
  color: #111111;
}

.featured p {
  width: 80%;
  margin: auto;
  margin-top: 20px;
  line-height: 1.7;
  color: #666666;
}


.hero15 {
  width: 80%;
  color: white;
  margin: auto;
  margin-top: 50px;
  box-shadow: none;
  outline: none;
  user-select: none;
}

.hero-title {
  font-size: 3rem;
  font-weight: bold;
}

.card-slider-container {
  position: static;
  /* default */
}


.card-item {
  background: #ffffff;
  border-radius: 10px;
  transition: transform 0.3s, box-shadow 0.3s;
  height: auto;
  user-select: none;
  cursor: pointer;
  padding-bottom: 30px;
}

.card-info h2 {
  padding-top: 20px;
  text-align: left;
  margin-left: 20px;
  font-size: 19px;
}

.card-info p {
  text-align: left;
  position: relative;
  right: 17px;
  font-size: 15px;

}




.swiper-button-next {
  color: white !important;
  width: 15px !important;
  outline: none !important;
  position: absolute;
  top: 130px !important;


}

.swiper-button-prev {
  color: white !important;
  width: 15px !important;
  outline: none !important;
  top: 130px !important;


}

.card-image-container {
  position: relative;
  /* IMPORTANT: overlay absolute relative to this */
  width: 100%;
  height: 250px;
  /* fixed height or adjust as needed */
  overflow: hidden;
}

/* Image styling */
.card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: transform 0.3s ease;
}

/* Slight zoom on hover */
.card-image-container:hover .card-image {
  transform: scale(1.05);
}

/* Overlay only on image */
.card-image-container {
  position: relative;
  overflow: hidden;
}

/* Overlay */
.card-button-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(232, 89, 42, 0.85);
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.2s ease;
}

/* 👇 Hover par left se fill ho */
.card-image-container:hover .card-button-overlay {
  transform: scaleX(1);
}

/* Center button */
.details-btn {
  padding: 7px 24px;
  border-radius: 40px;
  background-color: transparent;
  border: 2px solid white;
  color: white;
  cursor: pointer;
  font-size: 18px;
  width: 110px;
}

.pers {
  color: #666666;
  text-align: left;
}

.gymback {
  background-image: url("https://images.unsplash.com/photo-1521805103424-d8f8430e8933?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTl8fGd5bXxlbnwwfHwwfHx8MA%3D%3D");
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 60px;
  position: relative;
}

.gym {
  padding-top: 40px;
  margin-left: 90px;
}

.allweek {
  margin-top: 20px;
  display: flex;
  gap: 20px;
}

.allweek button {
  width: 130px;
  height: 40px;
  border-radius: 30px;
  font-size: 15px;
  border: none;
}

.allweek button.show {
  background-color: #e8592a;
  color: white;
}

.gym h1 {
  color: white;
}

.bbs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /* 4 equal columns */
  align-items: center;
  background-color: #e8592a;
  width: 80%;
  color: white;
  height: 60px;
  border-radius: 30px;
  font-size: 12px;
  margin-left: 100px;
  margin-top: 70px;

}

.bbs p {
  font-size: 18px;
  padding-left: 40px;
}

.bbh {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  background-color: #e8592a;
  width: 80%;
  color: white;
  height: 60px;
  border-radius: 30px;
  font-size: 12px;
  margin-top: 10px;
  margin-left: 100px;

}

.bbh p {
  font-size: 18px;
  padding-left: 40px;
}


.join button {
  background-color: #ffffff;
  height: 40px;
  width: 130px;
  border-radius: 40;
  border-radius: 40px;
  border: none;
  font-size: 16px;
}

.join button:hover {
  background-color: black;
  color: white;
}


.rft {
  background-image: url("https://images.unsplash.com/photo-1585484764802-387ea30e8432?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTA4fHxneW18ZW58MHx8MHx8fDA%3D");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 80px;
  padding-bottom: 100px;
  margin-top: 120px;
}


.bmi {
  color: #ffffff;
  margin-left: 90px;
  font-size: 21px;
}

.bmi p {
  margin-top: 20px;
  font-size: 18px;
  width: 80%;
  line-height: 1.6;
  color: silver;
}


.allinp {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.inp input {
  height: 35px;
  width: 120px;
  border: none;
  border-radius: 20px;
  background-color: black;
  border: 1px solid white;
  color: #fff;
  font-size: 16px;
  padding-left: 10px;
}

.inp input::placeholder {
  font-size: 15px;
  color: silver;
}

.inpbtn button {
  background-color: #e8592a;
  color: white;
  margin-top: 30px;
  width: 160px;
  height: 40px;
  border: none;
  border-radius: 20px;
  font-size: 22px;
}

.inpbtn button:hover {
  background-color: #ff4500;
  color: white;
}


.error {
  color: white;
  margin-top: 22px;
  font-size: 18px;
}

.result p {
  color: white;
  font-size: 18px;
}

.tra {
  color: #111111;
  text-align: center;
  margin-top: 40px;
}

.tra p {
  margin-top: 20px;
  color: gray;
}

.tea {
  position: relative;
  width: 280px;
  height: 320px;
  cursor: pointer;
  margin-top: 50px;
  overflow: hidden;
  text-align: center;
  /* center text horizontally */
}

/* Image with background */
.tea img {
  width: 100%;
  height: 380px;
  object-fit: cover;
  background-color: #f5f5f5;
  transition: transform 0.3s ease;
}

/* Orange overlay sliding from left */
.tea::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: rgba(232, 89, 42, 0.85);
  transition: width 0.2s ease;
  z-index: 2;
  /* above image, below text */
}

/* Hover effect: expand overlay */
.tea:hover::before {
  width: 100%;

}

.tea h2 {
  position: absolute;
  top: 60%;
  /* center vertically */
  background-color: #e8592a;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  left: 50%;
  /* center horizontally */
  transform: translate(-50%, -50%);
  /* perfect centering */
  z-index: 3;
  /* above overlay */
  color: #fff;
  /* white text for contrast */
  font-size: 20px;
  pointer-events: none;
  /* so hover works on container */
  transition: color 0.1s ease,
}


.tea p {
  position: absolute;
  top: 70%;
  /* center vertically */
  background-color: white;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  left: 50%;
  /* center horizontally */
  transform: translate(-50%, -50%);
  /* perfect centering */
  z-index: 3;
  /* above overlay */
  color: black;
  /* white text for contrast */
  font-weight: bold;
  font-size: 17px;
  pointer-events: none;
  /* so hover works on container */
  transition: color 0.1s ease,
}

.tea:hover h2 {
  background-color: transparent;
}

.tea:hover p {
  background-color: transparent;
  font-size: 17px;
}

.york {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.khb {
  background-color: #edf0eb;
  padding-top: 40px;
  padding-bottom: 120px;
  height: auto;
}

.dum {
background-color: black;
  width: 100%;
  height: auto;
  padding-bottom: 400px;
  position: relative;
}

.sub {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sub h1 {
  color: #ffffff;
  font-weight: bolder;
  text-transform: uppercase;
  font-size: 40px;
  padding-top: 240px;

}

.sub p {
  font-size: 28px;
  width: 80%;
  margin-top: 40px;
  color: white;
  text-transform: uppercase;
}

.sub span {
  color:#e8592a;
}

.sub button{
  text-transform: uppercase;
  margin-top: 43px;
  background-color: transparent;
  border: 2px solid #e8592a;
  width: 190px;
  height: 60px;
  color: white;
  border-radius: 30px;
  text-align: center;
  font-weight: bolder !important;
}

.sub button:hover{
  background-color: #e8592a;

}

.pri{
  text-align: center;
  margin-top: 50px;
  text-transform: uppercase;
  padding-top: 90px;
  color: white;
}

.plan p{
  text-align: center;
  margin-top: 20px;
  color: white;
}

.main{
 background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT-mmGpnib4tCbqVgagyimlASttJEiLA4n_Dg&s");
 background-size: cover;
 width: 100%;
 height: auto;
 padding-bottom: 50px;
 margin-top: 150px;

}


.stan{
  background-color: white;
  width: 300px;
  padding-bottom: 50px;
  padding-top: 50px;
  text-align: center;
  min-height: 350px;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease;
}

.stan:hover{
  transform: translateY(-10px);
}

.stan h2{
  color: #353535;
  font-size: 20px;
}

.stan p{
  color: gray;
  padding-top: 20px;
  font-size: 30px;
  font-weight: bolder;
}

.stan em{
  color: black;
}

.stan article{
  color: #3e3e3e;
  line-height: 1.8;
  font-size: 17px;
  position: relative;
  top: 20px;
}


.stan .spa{
  color: #e8592a;
}


.debtn{
  margin-top: auto;
}


.debtn button{
background-color: transparent;
color: black;
width: 140px;
height: 40px;
border: 2px solid  #e8592a;
border-radius: 20px;
font-weight: bold;
margin-top: 50px;
}

.debtn button:hover{
  background-color:#e8592a;
  color: white;
}

.allstans{
  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: 30px;
  margin-top: 50px;
}




































































@media (max-width: 500px) {

  .navLinks,
  .navButton {
    display: none;
  }

  .hamburger {
    display: block;
    font-size: 28px;
    cursor: pointer;
    margin-right: 30px;
    color: #ffffff;
  }

  .navBar {
    padding: 15px 20px;
    height: 60px;
  }

  .sidebar {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100vh;
    background-color: #181818;
    display: flex;
    flex-direction: column;
    padding: 20px;
    transition: left 0.35s ease;
    z-index: 200;
  }

  .sidebar.open {
    left: 0;
  }


  .navImages img {
    width: 35%;
  }

  .navImage img {
    width: 80%;
    padding-top: 10px;
    position: relative;
    right: 5px;
  }

  .close-btn {
    font-size: 28px;
    align-self: flex-end;
    cursor: pointer;
    margin-bottom: 25px;
    color: black;
    display: block;
    margin-right: 50px;
    color: #ffffff;
  }

  .side-link {
    text-decoration: none;
    color: #ffffff;
    margin: 12px 0;
    font-size: 16px;
    font-weight: bold;
  }

  .side-link:hover {
    color: #e8592a;
  }


  .gymbtn button {
    background: #e8592a;
    width: 88%;
    height: 40px;
    font-size: 17px;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    margin-top: 20px;
    color: white;
  }

  .gymbtn button:hover {
    background-color: #ffffff;
    color: #e8592a;
  }

  .hero-content h1 {

    font-size: 25px;
    line-height: 1.8;
    width: 85%;
    margin: auto;

  }

  .hero-content {

    position: absolute;
    top: 345px;
    width: 100%;

  }

  .hero-content button {
    font-size: 16px;
    margin-top: 20px;
  }


  .body img {

    height: 600px;
    object-fit: cover;
  }

  .sec img {

    width: 100%;
    display: block;
    margin-top: -20px;
  }

  .allfit {
    flex-direction: column;
    align-items: center;
  }

  .yoga {
    width: 75%;
    padding-bottom: 33px;
  }

  .weight {
    width: 75%;
    padding-bottom: 38px;
  }

  .running {
    width: 75%;
  }

  .jyh {
    flex-direction: column;
    align-items: center;
  }

  .jour {
    margin-left: 25px;
    margin-top: 50px;

  }

  .jour p {
    font-size: 16px;
    width: 90%;
    margin-top: 10px;
  }

  .jour .you {
    font-size: 25px;
  }

  .jour .here {
    font-size: 25px;
  }

  .builder img {
    width: 85%;
    margin: auto;
  }

  .builder {
    text-align: center;
  }

  .featured {
    margin-top: 30px;
    height: auto;
    padding-bottom: 30px;

  }

  .swiper-button-next {
    color: #e8592a !important;
    width: 15px !important;
    outline: none !important;
    position: absolute;
    top: 120px !important;
  }

  .swiper-button-prev {
    color: #e8592a !important;
    width: 15px !important;
    outline: none !important;
    top: 120px !important;
  }


  .card-info p {
    position: relative;
    right: 6px;
  }

  .card-info h2 {
    font-size: 18px;
  }

  .card-item {
    width: 83%;
    margin-left: 25px;
  }

  .allweek {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 0;
    gap: 10px;
    margin: 30px;
  }



  .allweek button {
    width: 100%;
    margin: auto;
    font-size: 14px;
  }

  .bbs,
  .bbh {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto;
    margin-top: 30px;
    height: auto;
    padding: 15px;
    gap: 10px;
    padding-bottom: 33px;
    padding-top: 30px;
  }

  .bbs p,
  .bbh p {
    text-align: center;
    padding-left: 0;
    font-size: 19px;
  }

  .join button {
    margin-top: 10px;
    font-size: 14px;
  }

  .gym {
    margin-left: 0;
    margin-top: 60px;
    text-align: center;

  }

  .gym h1 {
    font-size: 28px;
  }





  .bmi h2 {
    font-size: 23px;
    width: 90%;
  }

  .bmi p {
    font-size: 15px;
    width: 90%;
  }

  .inp input::placeholder {
    font-size: 11px;
  }

  .inp input {
    font-size: 11px;

  }

  .bmi {
    margin-left: 30px;
  }

  .rft {
    margin-top: 90px;
  }



  .inp input {
    width: 100%;
    height: 40px;
  }

  .allinp {
    margin-right: 40px;
  }

  .inpbtn button {
    font-size: 18px;
    width: 40%;
  }


  .tra p {
    width: 85%;
    margin: auto;
    padding-top: 20px;
    line-height: 1.6;
  }

  .york {
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-top: 50px;
  }

  .tea {
    margin-top: 0;
  }

 
  .sub h1{
    font-size: 23px;
 
  }

  .sub{
    width: 90%;
    padding-left: 30px;
 
  }


  .sub p{
    font-size: 15px;
    width: 100%;
  }

  .khb{
    padding-bottom: 80px;
  }

  .pri h1{
    font-size:22px;
  }

  .plan p{
    font-size: 17px;
    width: 70%;
    margin: auto;
    margin-top: 20px;
    line-height: 1.6;
  }

  .allstans{
    flex-direction: column;
    align-items: center;
  }
  
  .main{
    margin-top: 90px;
  }


  


















}

@media (min-width: 410px) and (max-width:430px) {

  .hero-content {

    position: absolute;
    top: 370px;
    width: 100%;

  }

}